<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/app.css")
    title #{ pageTitle }
  body

    header.barra
      h1 UpTask - Projects Manager
      a(href="#") Log Out

    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="new" class='boton') New Project
            span +
        .panel.lista-proyectos
          h2 Projects
          ul#proyectos.proyectos
            li
              a(href="#") Virtual Shop Design
            li
              a(href="#") New Blog Design
            li
              a(href="#") Logo Design
            
      block content