extends layout.view.pug

block content
  .contenido-principal
    h1 #{pageTitle} - #{project.name}

    .contenedor-acciones
      a(href="" class='boton') Edit Project
      button(
        type='button' class='boton eliminar' id='eliminar-proyecto'
      ) Remove Project