extends layout.view.pug

include mixins/project-form.mixin.pug

block content
  .contenido-principal
    h1 #{pageTitle}

    if errors
      .alerta.error Error: #{errors[0].msg}
      
    +project-form(project)