meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#455a64">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#455a64">
link(rel="stylesheet", href="/public/normalize.mini.css")
link(rel="stylesheet", href="/public/styles.mini.css")
link(rel="stylesheet", href="/static/css/all.min.css")
link(rel='apple-touch-icon', sizes='180x180', href='/public/assets/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/public/assets/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/public/assets/favicon-16x16.png')
link(rel='manifest', href='/public/assets/site.webmanifest')
title Uptask | #{ pageTitle }